<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}计划表首页 {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/style/custom.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        body {
            background-color: #eff4f8;
        }
        .navbar {
            margin-bottom: 0px;
        }
        .content {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">首页yeye</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                <ul class="nav navbar-nav">
                    <li><a href="/schedule/list/keepfit">颜值不够身材来补</a></li>
                    <li><a href="/schedule/list/work">一切向qian看</a></li>
                    <li><a href="/schedule/list/stady">哪里不懂点哪里</a></li>
                    <li><a href="/schedule/list/life">享受生活以及被生活享受</a></li>
                    <li><a href="/schedule/add">New一个</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="pull-right"><a href="/logout">欢迎回来：imoku. 点击退出</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <h1>计划表首页</h1>
    {% endblock %}
</div>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>