{% extends "base.html" %}

{% block title %} 计划列表 {% endblock %}

{% block content %}
<div class="content">
    <div style="padding:10px;">
        <h4>计划列表 >> <a href="#">{{ stype }}</a></h4>  

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>计划名称</th>
                    <th>开始日期</th>
                    <th>内容</th>
                    <th>完成度</th>
                    <th>发起时间</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
            {% for r in records %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ r.title }}</td>
                    <td>{{ r.startdate.strftime('%Y-%m-%d') }}</td>
                    <td>
                        <ol>
                        {% for i in ['item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'item7', 'item8', 'item9', 'item10'] %}
                            {% if r.todolist[i]['content'] %}
                            <li> 
                                {{ r.todolist[i]['content'] }}
                                &nbsp;&nbsp;&nbsp;
                                {% if r.todolist[i]['done'] == 1 %}<span style="color:red">✓</span>{% endif %}
                            </li>
                            {% endif %}
                        {% endfor %}
                        </ol>
                    </td>
                    <td>{{ r.complete_percent }}%</td>
                    <td>{{ r.created_at }}</td>
                    <td><a href="/schedule/detail/{{ r.id }}">编辑</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>    
</div>
{% endblock %}